# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Response data
response/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# AWS credentials
.aws/
credentials 

# Docker
.dockerignore
docker-compose.override.yml

# Data and responses
data/audio/*
data/images/*
data/transcripts/*
responses/pdf/*
!data/audio/.gitkeep
!data/images/.gitkeep
!data/transcripts/.gitkeep
!responses/pdf/.gitkeep 